---
layout: articles
heading: 'Taylor Clark'
subheading: 'Honors Computer Science Student at Fordham University'
banner:
  video: https://raw.githubusercontent.com/taylor-clark6/MyWebsite/blob/master/assets/bannerVid.mp4
  loop: true
  volume: 0.0
  start_at: 0.0
  image: https://raw.githubusercontent.com/taylor-clark6/MyWebsite/master/assets/images/banners/Banner.jpg
  opacity: 0.618
  background: "#000"
  height: "100vh"
  min_height: "38vh"
  heading_style: "font-size: 4.25em; font-weight: bold; text-decoration: underline"
  subheading_style: "color: gold"
---

{{ content }}
